%h1= class_name + "#" + @action

%p
  = @greeting + ", find me in app/views/account/validate.html.haml"
%p
  %a{href: "#{validate_url}?user=#{@user.user}&key=#{OpenSSL::Digest.new('sha512').hexdigest @email.email + @user.main_account.primary_login.passhash}"}